@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #faed19;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2b579a;
  --bs-secondary: #77797c;
  --bs-success: #d2dcea;
  --bs-info: #6a6a6a;
  --bs-warning: #faed19;
  --bs-danger: #dc3545;
  --bs-light: #f5f5f5;
  --bs-dark: #262722;
  --bs-primary-rgb: 43, 87, 154;
  --bs-secondary-rgb: 119, 121, 124;
  --bs-success-rgb: 210, 220, 234;
  --bs-info-rgb: 106, 106, 106;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 38, 39, 34;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 243, 238;
  --bs-font-sans-serif: Inter;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: normal;
  --bs-body-color: #000;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #afafaf;
  --bs-border-table-color: #C9C9C9;
  --bs-border-color-translucent: #C9C9C9;
  --bs-border-radius: 0.33rem;
  --bs-border-radius-sm: 0.625rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.25rem;
  --bs-border-radius-2xl: 3.75rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #000;
  --bs-link-hover-color: #2b579a;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-btn-hover-color: #2b579a;
  --bs-btn-hover-bg: transparent;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 1184px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2b579a;
  --bs-btn-border-color: #2b579a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2b579a;
  --bs-btn-disabled-border-color: #2b579a;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(255, 255, 255, 1);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: none;
}

.card-header:first-child {
  border-radius: 1rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  padding-top: 170px;
}
.wrapper > * {
  min-width: 0;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-48 {
  font-size: 48px;
}

.fs-70 {
  font-size: 70px;
}

.lh-12 {
  line-height: 120%;
}

.lh-13 {
  line-height: 130%;
}

.lh-15 {
  line-height: 150%;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.ff-roboto {
  font-family: "Roboto";
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup__form {
  max-width: 255px;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding-top: 75px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 450px;
}
.popup__content::after, .popup__content::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.popup__content::after {
  background: url("../img/popup-fon1.png") no-repeat center/100% auto;
  width: 45%;
  height: 50%;
  top: 0%;
  right: 0%;
}
@media only screen and (min-width: 575px) {
  .popup__content::after {
    height: 70%;
  }
}
.popup__content::before {
  background: url("../img/popup-fon2.png") no-repeat center/100% auto;
  width: 40%;
  height: 14%;
  bottom: 0%;
  left: 0%;
}
@media only screen and (min-width: 575px) {
  .popup__content::before {
    height: 20%;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup-team::before {
  content: "";
  display: block;
  background: url("../img/icons/line-popup.svg") no-repeat center/cover;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.popup-team .popup__content {
  max-width: 1200px;
  max-height: 670px;
  background-color: #f6f3ee;
  padding: 0;
}
.popup-team .popup__content::after, .popup-team .popup__content::before {
  content: "";
  display: block;
  background: url("../img/icons/Star3.svg") no-repeat center/cover;
  position: absolute;
  width: 50px;
  height: 50px;
}
.popup-team .popup__content::after {
  bottom: -25px;
  left: 5%;
}
.popup-team .popup__content::before {
  top: -25px;
  left: 50%;
}
.popup-team .popup__close {
  background-color: #cfc8be;
  width: 50px;
  height: 50px;
  right: -25px;
  top: -25px;
}
.popup-team .popup__box-fon {
  background: url("../img/fon.png") no-repeat;
  background-size: 50% auto;
  background-position: 55% 70%;
}
.popup-team .popup__box-trener {
  background: url("../img/foto-trener2.png") no-repeat;
  background-size: 111% auto;
  background-position: 12% 26%;
}
.popup-team .popup__box-text {
  max-width: 255px;
  max-height: 140px;
  top: 10%;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}
.popup-team .popup__box-content {
  padding-block: 70px;
}
.popup-team .popup__list {
  display: flex;
  gap: 95px;
}
.popup-team .popup__list li {
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
}
.popup-team .popup__list li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #cfc8be;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.popup-team .popup__numbered-list {
  margin-bottom: 125px;
  counter-reset: popup-counter; /* Сброс счетчика перед списком */
}
.popup-team .popup__numbered-list ol {
  list-style-type: none; /* Скрытие стандартных маркеров */
}
.popup-team .popup__numbered-list ol li {
  counter-increment: popup-counter; /* Увеличение счетчика для каждого элемента */
  margin-bottom: 16px;
  padding-left: 50px;
  position: relative;
}
.popup-team .popup__numbered-list ol li::before {
  content: "(" counter(popup-counter, decimal-leading-zero) ") "; /* Формат номера с нулем и скобками */
  position: absolute;
  left: 0;
  top: 0;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.burger {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.burger__inner span, .burger__inner::before, .burger__inner::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0px;
  position: absolute;
  height: 3px;
  background-color: var(--bs-primary);
}
.burger__inner span {
  width: 21px;
}
.burger__inner::before {
  width: 30px;
  top: 0px;
}
.burger__inner::after {
  width: 14px;
  bottom: 0px;
}
.burger__inner span {
  top: calc(50% - 1px);
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 100;
  position: relative;
  margin: 0;
  right: inherit;
  left: inherit;
  background-color: #2b579a;
  width: 36px;
  height: 36px;
  transition: all 0.5s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2b579a;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow-swiper.svg");
}

.swiper-button-next {
  right: 0;
  transform: translateX(-50%);
}
@media only screen and (min-width: 1199px) {
  .swiper-button-next {
    right: -40px;
  }
}
.swiper-button-next::after {
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: 0;
}
@media only screen and (min-width: 1199px) {
  .swiper-button-prev {
    left: -50px;
  }
}

.swiper__control {
  width: 40%;
  max-width: 150px;
}
@media only screen and (min-width: 991px) {
  .swiper__control {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
  }
}

.open .header nav {
  left: 0;
  background-color: var(--bs-primary);
  display: flex;
  margin-top: 16px;
  color: #fff;
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 30px;
}

.line {
  width: 1px;
  height: 70px;
  border-left: 1px dashed #2b579a;
}
@media only screen and (min-width: 575px) {
  .line {
    height: 90px;
  }
}
.line::after, .line::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
}
.line::after {
  width: 4px;
  height: 4px;
  background-color: #2b579a;
  bottom: 0%;
}
.line::before {
  width: 28px;
  height: 28px;
  background: url("../img/icons/circle.svg") no-repeat center/cover;
  top: -30%;
}
.line__info {
  top: -60%;
  transform: translateX(-50%);
}
.line--frontal {
  bottom: 87%;
  left: 42%;
}
.line--side {
  bottom: 83%;
  right: 25%;
}
.line--back {
  bottom: 81%;
  right: 14%;
}
.line--back .line {
  height: 140px;
}
@media only screen and (min-width: 575px) {
  .line--back .line {
    height: 160px;
  }
}
.line--back .line::before {
  top: -10%;
}
.line--back .line__info {
  top: -30%;
}

.language__current {
  background: url("../img/icons/arrow.svg") no-repeat right center/6px 6px;
}
.language__options {
  opacity: 0;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}
.language__options.open {
  opacity: 1;
  flex-direction: column;
  background-color: #fff;
}

.promo {
  background-color: #fff;
}
.promo__box {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  top: 20%;
  right: 5%;
  left: 5%;
}
@media only screen and (min-width: 991px) {
  .promo__box {
    position: absolute;
    left: 35%;
    right: -3%;
    margin: 0;
  }
}
@media only screen and (min-width: 1199px) {
  .promo__box {
    right: -8%;
  }
}
.promo__triangle {
  position: absolute;
  top: 7%;
  left: 0%;
  right: 0%;
  bottom: 34%;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
  background-color: rgba(43, 87, 154, 0.21);
}
@media only screen and (min-width: 991px) {
  .promo__triangle {
    top: -9%;
    left: 28%;
    right: -1%;
    bottom: -17%;
  }
}
@media only screen and (min-width: 1199px) {
  .promo__triangle {
    right: -14%;
  }
}
.promo__box-text {
  background-color: rgba(43, 87, 154, 0.46);
  position: relative;
}
@media only screen and (min-width: 575px) {
  .promo__box-text {
    position: absolute;
    right: -80%;
  }
}
.promo__box-form {
  background-color: rgba(43, 87, 154, 0.13);
}

.advantages::before {
  content: "";
  display: block;
  background-color: #f5f5f5;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.choose {
  background-color: #f5f5f5;
}
.choose__box-img::before {
  content: "";
  display: block;
  border-radius: 2px 15px 15px 15px;
  background-color: #2b579a;
  width: 188px;
  height: 197px;
  position: absolute;
  top: -4%;
  left: -4%;
}
.choose__info {
  bottom: -2%;
  right: -3%;
}
@media only screen and (min-width: 991px) {
  .choose__info {
    bottom: -8%;
  }
}
.choose__content:not(:last-child) {
  border-bottom: 1px dashed #2b579a;
}
.choose__content:nth-child(2)::after {
  top: 50%;
}
.choose__content:last-child::after {
  bottom: 50%;
}
.choose__content::before, .choose__content::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 767px) {
  .choose__content::before, .choose__content::after {
    left: 50%;
  }
}
.choose__content::before {
  background: url("../img/icons/circle.svg") no-repeat center/cover;
  width: 28px;
  height: 28px;
  transform: translateY(-50%);
  right: -13px;
}
@media only screen and (min-width: 767px) {
  .choose__content::before {
    transform: translate(-50%, -50%);
  }
}
.choose__content::after {
  width: 2px;
  background-color: #2b579a;
  top: -8px;
  bottom: 0%;
  right: 0;
}
.choose__box-content:nth-child(odd) {
  opacity: 0.6;
}
.choose__box-text {
  background-color: rgba(43, 87, 154, 0.3);
}

.services__text {
  bottom: 8%;
  left: 5%;
  z-index: 1;
}
.services__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(19, 19, 19, 0.6);
}
.services__link:hover::after {
  display: none;
}
.services__link::before {
  content: "";
  display: block;
  background: url("../img/icons/arrow-services.svg") no-repeat center/17px 11px;
  position: absolute;
  bottom: 8%;
  right: 5%;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1.5px solid #fff;
  z-index: 1;
}

.install__content {
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.install__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content;
  gap: 20px 40px;
  grid-template-areas: "image image image" "text text text" "box box box";
}
@media only screen and (min-width: 767px) {
  .install__grid {
    grid-template-areas: "image text text" "box box box";
  }
}
@media only screen and (min-width: 991px) {
  .install__grid {
    grid-template-areas: "image text text" "image box box";
  }
}
.install__box-text {
  grid-area: text;
}
.install__box-image {
  grid-area: image;
}
.install__box {
  grid-area: box;
}
.install__box-img::before {
  content: "";
  display: block;
  border-radius: 2px 15px 15px 15px;
  background-color: #2b579a;
  width: 188px;
  height: 197px;
  position: absolute;
  top: -2%;
  left: -2%;
}
.install__box-content ul {
  padding-left: 0;
}
.install__box-content ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.install__box-content ul li::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2b579a;
}

.sales {
  background-image: none;
}
@media only screen and (min-width: 991px) {
  .sales {
    background: url("../img/discount-foto.png") no-repeat right center/53% 100% #eee;
  }
}
@media only screen and (min-width: 991px) {
  .sales::before {
    content: "";
    display: block;
    position: absolute;
    left: 47%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 991px) {
  .sales::after {
    content: "";
    display: block;
    background-color: #eee;
    position: absolute;
    top: -1px;
    left: 46.9%;
    bottom: 0;
    right: 37%;
    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }
}
.sales__box-img::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 991px) {
  .sales__box-img::before {
    display: none;
  }
}

.steps__col:last-child .steps__box::after, .steps__col:last-child .steps__box::before {
  display: none;
}
.steps__counter {
  color: rgba(43, 87, 154, 0.19);
}
.steps__box {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 767px) {
  .steps__box::after, .steps__box::before {
    content: "";
    display: block;
    top: 43%;
    transform: translateY(-50%);
    position: absolute;
  }
}
@media only screen and (min-width: 767px) {
  .steps__box::after {
    border-top: 1px dashed #2b579a;
    width: calc(var(--bs-gutter-x) * 1);
    height: 1px;
    right: calc(var(--bs-gutter-x) * -1.03);
  }
}
@media only screen and (min-width: 767px) {
  .steps__box::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: calc(var(--bs-gutter-x) * -1.2);
    background: url("../img/icons/circle.svg") no-repeat center/cover;
  }
}

.portfolio .swiper__box-img::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.portfolio .swiper__box-img:hover::before {
  display: none;
}

.faq__box-circle {
  width: 36px;
  height: 36px;
  background: url("../img/icons/plus.svg") no-repeat center/21px 21px;
  right: 2%;
  top: 6%;
  transition: all 0.3s ease-in-out;
}
.faq .card__btn[aria-expanded=true] .faq__box-circle {
  background: url("../img/icons/minus.svg") no-repeat center/21px 3px;
}

.reviews .swiper__top {
  border-radius: 15px;
  border: 1px solid #E8E8E8;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 246px;
}

.popup__content {
  border-radius: 40px;
}
.popup__close {
  position: absolute;
  top: 15px;
  left: 10px;
}
.popup__close svg {
  width: 30px;
  height: 30px;
}
.popup .form__body {
  flex-direction: column;
}
.popup .form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.popup .form__btn {
  width: 100%;
}

.form-label {
  transform: translateY(-50%);
  left: 20px;
  opacity: 1;
  top: 50%;
}

.form-control:focus ~ .form-label,
.form-control:valid ~ .form-label,
.form-control:hover ~ .form-label,
.form-control:active ~ .form-label {
  opacity: 0;
  top: 0;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0 10px 0 10px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
  background-color: transparent;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 6px 6px;
  border: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:focus,
.form-select:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.header {
  z-index: 999;
  background-color: #fff;
}
.header__top {
  border-bottom: 1px solid #E4E4E4;
}
.header nav {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .header nav {
    position: relative;
    display: none;
    left: -100%;
    transition: all 0.5s ease-in-out;
    border: none;
  }
}

.header__language {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 575px) {
  .footer__box {
    width: max-content;
    margin: 0 auto;
  }
}
.footer__social li {
  position: relative;
  padding-left: 2rem;
  width: max-content;
}
.footer__social li::before {
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.box--address::after, .box--phone::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e4e4e4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.box--address::after {
  right: 20%;
}
.box--phone::after {
  right: 35%;
}

.link--a1::before, .link--mtc {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.link--mtc::before {
  background: url("../img/MTC.png") no-repeat center/cover;
}
.link--a1::before {
  background: url("../img/A1.png") no-repeat center/cover;
}
