:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #faed19;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2b579a;
  --bs-secondary: #77797c;
  --bs-success: #d2dcea;
  --bs-info: #6a6a6a;
  --bs-warning: #faed19;
  --bs-danger: #dc3545;
  --bs-light: #f5f5f5;
  --bs-dark: #262722;
  --bs-primary-rgb: 43, 87, 154;
  --bs-secondary-rgb: 119, 121, 124;
  --bs-success-rgb: 210, 220, 234;
  --bs-info-rgb: 106, 106, 106;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 38, 39, 34;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 246, 243, 238;
  --bs-font-sans-serif: Inter;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: normal;
  --bs-body-color: #000;
  --bs-body-bg: #fff;
  --bs-border-color: #afafaf;
  --bs-border-table-color: #c9c9c9;
  border: 1px solid #c9c9c9;
  --bs-border-radius: 0.33rem;
  --bs-border-radius-sm: 0.625rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.25rem;
  --bs-border-radius-2xl: 3.75rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #000;
  --bs-link-hover-color: #2b579a;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-btn-hover-color: #2b579a;
  --bs-btn-hover-bg: transparent;
}
/* .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1184px;
} */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2b579a;
  --bs-btn-border-color: #2b579a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2b579a;
  --bs-btn-disabled-border-color: #2b579a;
}
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: #fff;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: #fff;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: 1px solid #c9c9c9;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 0.375rem;
  border-radius: var(--bs-card-border-radius);
}
.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: none;
}
.card-header:first-child {
  border-radius: 1rem;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  min-width: 320px;
}
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}
a,
button {
  color: inherit;
}
a:hover,
a:link,
a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  padding-top: 155px;
}
.wrapper > * {
  min-width: 0;
}
.fs-10 {
  font-size: 10px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  --font-size-18: clamp(0.88rem, 1.79vw + 0.02rem, 1.13rem);
  font-size: var(--font-size-18);
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-40 {
  --font-size-40: clamp(2.25rem, 1.56vw + 1.94rem, 2.5rem);
  font-size: var(--font-size-40);
}
.fs-48 {
  font-size: 48px;
}
.fs-70 {
  font-size: 70px;
}

.lh-15 {
  line-height: 150%;
}
.lh-10 {
  line-height: 1;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.ff-roboto {
  font-family: Roboto;
}
/* body:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
} */
body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition:
    transform 0.3s ease 0s,
    -webkit-transform 0.3s ease 0s;
  padding: 45px 20px;
  width: 100%;
  max-width: 640px;
}

.lock .popup__content {
  visibility: visible;
}
/* .header__language{
  z-index: -1;
} */
.burger {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.burger__inner:after,
.burger__inner:before,
.burger__inner span {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  height: 3px;
  background-color: #2b579a;
  background-color: var(--bs-primary);
}
.burger__inner span {
  width: 21px;
}
.burger__inner:before {
  width: 30px;
  top: 0;
}
.burger__inner:after {
  width: 14px;
  bottom: 0;
}
.burger__inner span {
  top: calc(50% - 1px);
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 100;
  position: relative;
  margin: 0;
  right: inherit;
  left: inherit;
  background-color: #2b579a;
  width: 36px;
  height: 36px;
  transition: all 0.5s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2b579a;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url(img/icons/arrow-swiper.svg);
}
.swiper-button-next {
  right: 0;
  transform: translateX(-50%);
}
.swiper-button-next:after {
  transform: rotate(180deg);
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}

.swiper__control {
  width: 40%;
  max-width: 150px;
}
.price .swiper__box {
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.open .header nav {
  left: 0;
  background-color: #2b579a;
  background-color: var(--bs-primary);
  display: flex;
  margin-top: 16px;
  color: #fff;
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner:before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner:after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 30px;
}
.line {
  width: 1px;
  height: 70px;
  border-left: 1px dashed #2b579a;
}
.line:after,
.line:before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
.line:after {
  width: 4px;
  height: 4px;
  background-color: #2b579a;
  bottom: 0;
}
.line:before {
  width: 28px;
  height: 28px;
  background: url(img/icons/circle.svg) no-repeat 50% / cover;
  top: -30%;
  animation: scaleX 2s infinite;
}

.line__info {
  top: -60%;
  transform: translateX(-50%);
}
.line--frontal {
  bottom: 87%;
  left: 42%;
}
.line--side {
  bottom: 83%;
  right: 25%;
}
.line--back {
  bottom: 81%;
  right: 14%;
}
.line--back .line {
  height: 140px;
}
.line--back .line:before {
  top: -10%;
}
.line--back .line__info {
  top: -30%;
}
.language__current {
  background: url(img/icons/arrow.svg) no-repeat 100%/6px 6px;
}
.language__options {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  transition: opacity 0.5s ease;
}
.language__options.open {
  display: flex;
  opacity: 1;
  flex-direction: column;
  background-color: #fff;
}
.promo {
  background-color: #fff;
}
.promo__box {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  top: 20%;
  right: 5%;
  left: 5%;
}
.promo__triangle {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  bottom: 34%;
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  background-color: rgba(43, 87, 154, 0.21);
}
.promo__box-text {
  background-color: rgb(43, 87, 154);
  /* background-color: rgba(43, 87, 154, 0.46); */
  position: relative;
}
.promo__box-form {
  background-color: rgba(43, 87, 154, 0.13);
}
.advantages:before {
  content: "";
  display: block;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.advantages:before,
.choose {
  background-color: #f5f5f5;
}
.choose__box-img:before {
  content: "";
  display: block;
  border-radius: 2px 15px 15px 15px;
  background-color: #2b579a;
  width: 188px;
  height: 197px;
  position: absolute;
  top: -4%;
  left: -4%;
}
.choose__info {
  bottom: -2%;
  right: -3%;
}
.choose__content:not(:last-child) {
  border-bottom: 1px dashed #2b579a;
}
.choose__content:nth-child(2):after {
  top: 50%;
}
.choose__content:last-child:after {
  bottom: 50%;
}
.choose__content:after,
.choose__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}
.choose__content:before {
  background: url(img/icons/circle.svg) no-repeat 50% / cover;
  width: 28px;
  height: 28px;
  transform: translateY(-50%);
  right: -26px;
  animation: scaleXY 2s infinite;
}

.choose__content:after {
  width: 2px;
  background-color: #2b579a;
  top: -8px;
  bottom: 0;
  right: 0;
}
.choose__box-content:nth-child(odd) {
  opacity: 0.6;
}

.choose__box-text {
  background-color: rgba(43, 87, 154, 0.3);
}
.services__text {
  bottom: 8%;
  left: 5%;
  z-index: 1;
}
.services__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 7%, 0.6);
}
.services__link:hover:after {
  display: none;
}
.services__link:before {
  content: "";
  display: block;
  background: url(img/icons/arrow-services.svg) no-repeat 50%/17px 11px;
  position: absolute;
  bottom: 8%;
  right: 5%;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1.5px solid #fff;
  z-index: 1;
}
.install__content {
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.25);
}
.install__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content;
  grid-gap: 20px 40px;
  gap: 20px 40px;
  grid-template-areas: "a a a" "b b b" "c c c";
}
.install__box-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: b;
}
.install__box-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: a;
}
.install__box {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: c;
}
.install__box-img:before {
  content: "";
  display: block;
  border-radius: 2px 15px 15px 15px;
  background-color: #2b579a;
  width: 188px;
  height: 197px;
  position: absolute;
  top: -2%;
  left: -2%;
}
.install__box-content ul {
  padding-left: 0;
}
.install__box-content ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.install__box-content ul li:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2b579a;
}
.sales {
  background-image: none;
}
.sales__box-img:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.steps__col:last-child .steps__box:after,
.steps__col:last-child .steps__box:before {
  display: none;
}
.steps__counter {
  color: rgba(43, 87, 154, 0.19);
  margin-bottom: -20px;
}
.steps__box {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.portfolio .swiper__box-img:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.portfolio .swiper__box-img:hover:before {
  display: none;
}
.faq__box-circle {
  width: 36px;
  height: 36px;
  background: url(img/icons/plus.svg) no-repeat 50%/21px 21px;
  right: 2%;
  /* top: 25%; */
  transform: translateY(-86%);
  transition: all 0.3s ease-in-out;
}
.card-header:hover .faq__box-circle {
  opacity: 0.7;
}
.faq .card__btn[aria-expanded="true"] .faq__box-circle {
  background: url(img/icons/minus.svg) no-repeat 50%/21px 3px;
  /* top: 13%; */
}
.reviews .swiper__top {
  border-radius: 15px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
  min-height: 246px;
}

.form-label {
  transform: translateY(-50%);
  left: 20px;
  opacity: 1;
  top: 50%;
}
.form-control:active ~ .form-label,
.form-control:focus ~ .form-label,
.form-control:hover ~ .form-label,
.form-control:valid ~ .form-label {
  opacity: 0;
  top: 0;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0 10px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
  background-color: transparent;
  background-image: url(img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 6px 6px;
  border: none;
  border-radius: 0;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}
.form-select:focus,
.form-select:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.map__form {
  top: 12%;
  right: 5%;
  width: 75%;
  max-width: 600px;
}

.header {

  background-color: #fff;
 transition: all .5s ease-in-out;
}
.header-hidden{
  top: -171px;
}
.header a {
  opacity: 1;
  position: relative;
	
  transition: opacity 0.3s ease;
}
.header nav ul li a::before{
  position: absolute;
    content: '';
    display: block;
    z-index: -1;
    background: #2B579A;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: calc(5px / -2);
    transition: 0.3s cubic-bezier(.03,.3,.4,.96);
    transform: skew(-10deg);
}
.header a:hover{
  opacity: 0.7;
}
.header nav ul li a:hover::before{
  width: calc(100% + 5px);
}
.header__top {
  border-bottom: 1px solid #e4e4e4;
}
.header nav {
  display: flex;
}
.header__language {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.footer__social li {
  position: relative;
  padding-left: 2rem;
  width: -moz-max-content;
  width: max-content;
}
.footer__social li:before {
  background-color: #fff;
  height: 1px;
  width: 18px;
  left: 0;
}
.box--address:after,
.box--phone:after,
.footer__social li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.box--address:after,
.box--phone:after {
  width: 1px;
  height: 100%;
  background-color: #e4e4e4;
}
.box--address:after {
  right: 20%;
}
.box--phone:after {
  right: 35%;
}
.link--a1:before,
.link--mtc {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.link--mtc:before {
  background: url(img/MTC.png) no-repeat 50% / cover;
}
.link--a1:before {
  background: url(img/A1.png) no-repeat 50% / cover;
}

@media only screen and (min-width: 575px) {
  .popup__content:after {
    height: 70%;
  }
  .popup__content:before {
    height: 20%;
  }
  .line {
    height: 90px;
  }
  .line--back .line {
    height: 160px;
  }
  .promo__box-text {
    position: absolute;
    right: -80%;
    bottom: -0.5rem;
  }
  .map__form {
    top: 12%;
    right: 2%;
    width: 40%;
    max-width: 500px;
  }
}
@media only screen and (max-width: 991px) {
  .header ul li a:hover {
    color: #000;
  }
  
}
@media only screen and (max-width: 767px) {
  .choose__box-content:nth-child(even) .choose__text {
    font-size: 17px;
  }
  .choose__box-content:nth-child(even) {
    color: #2b579a;
  }
}
@media only screen and (min-width: 767px) {
  .choose__content:after,
  .choose__content:before {
    left: 50%;
  }
  .choose__content:before {
    transform: translate(-50%, -50%);
  }
  .box::before {
    content: "";
    display: block;
    width: 1px;
    background-color: #e4e4e4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  /* .install__grid {
    grid-template-areas: "a a b" "c c c";
  } */
  .steps__box:after,
  .steps__box:before {
    content: "";
    display: block;
    top: 43%;
    transform: translateY(-50%);
    position: absolute;
  }
  .steps__box:after {
    border-top: 1px dashed #2b579a;
    width: calc(var(--bs-gutter-x) * 1);
    height: 1px;
    right: calc(var(--bs-gutter-x) * -1.03);
  }
  .steps__box:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: calc(var(--bs-gutter-x) * -1.2);
    background: url(img/icons/circle.svg) no-repeat 50% / cover;
    animation: scaleY 2s infinite;
  }

  .install__box-text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .install__box-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .install__box {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media only screen and (min-width: 991px) {
  .swiper__control {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
  }
  
  .promo__box {
    position: absolute;
    left: 43%;
    right: -3%;
    margin: 0;
  }
  .promo__triangle {
    top: -9%;
    left: 28%;
    right: -1%;
    bottom: -17%;
  }
  .choose__info {
    bottom: -8%;
  }
  .install__grid {
    grid-template-areas: "a b b" "a c c";
  }
  .sales {
    background: url(img/discount-foto.png) no-repeat 100%/53% 100% #eee;
  }
  .sales:before {
    left: 47%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sales:after,
  .sales:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
  }
  .sales:after {
    background-color: #eee;
    top: -1px;
    left: 46.9%;
    right: 37%;
    z-index: 1;
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }
  .sales__box-img:before {
    display: none;
  }
  .install__box-text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .install__box-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .install__box {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
}
@media only screen and (min-width: 1199px) {
  .swiper-button-next {
    right: -40px;
  }
  .swiper-button-prev {
    left: -50px;
  }
  .promo__box {
    right: -8%;
  }
  .promo__triangle {
    right: -14%;
  }
}
@media only screen and (max-width: 991px) {
  .header nav {
    position: relative;
    display: none;
    left: -100%;
    transition: all 0.5s ease-in-out;
    border: none;
  }
}
@media only screen and (max-width: 575px) {
  .footer__box {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}
/* @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  } */

@keyframes scaleX {
  0%,
  100% {
    transform: scale(1) translateX(-50%);
  }
  50% {
    transform: scale(1.2) translateX(-44%);
  }
}
@keyframes scaleXY {
  0%,
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-44%, -44%);
  }
}
@keyframes scaleY {
  0%,
  100% {
    transform: scale(1) translateY(-50%);
  }
  50% {
    transform: scale(1.2) translateY(-44%);
  }
}
